.content {
    position: relative;
    background: aqua;
    border: limegreen solid 2px;
    min-height: 250px;
    height: 1px;
}
.content-text {

}

#image { 
    margin-left: 10px;
    position: relative;
    float: right;
    right: 0;
    height: 100%;
}













