body, h1 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: #FFFF80;
}
.header {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 50px;
    background-color: #EAEAEA;
}

.leftbar {
    margin-right: 10px;
    float: left;
    width: 25%;
    height: 25%;
    background: #C8FC98;
    padding: 0 10px 10px 10px;
}

.rightbar {
    margin-left: 10px;
    float: right;
    width: 200px;
    background: #FDE95E;
    padding: 0 10px 10px 10px;
}

.content {
}

.footer {
    clear: both;
    background: #000000;
    padding: 10px 0;
    text-align: center;
}
















