body {
    color: white;
}
.content {
    margin: 0 auto;
    width: 600px;
    background: blue;
}

#image {
    margin: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    float: right;
}














